@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

  #wrapper {
    height: 600px;
  }

  #map {
    height: 600px;
    margin: 0 auto;
    width: 800px;
  }
